<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가-->
<th:block layout:fragment="css">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</th:block>

<!-- 사용자 스크립트 추가-->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            var errorMessage = [[${errorMessage}]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });

        //아이디 중복검사
        $('.id_input').on("propertychange change keyup paste input", function () {

            console.log("keyup 테스트");

        });// function 종료
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</th:block>

<div layout:fragment="content">
    <form class="needs-validation" th:action="@{/signup}" role="form" method="post" th:object="${signUpForm}" novalidate>

        <div class="form-group">
            <label th:for="username" th:text="#{label.user.username}">이름</label>
            <input type="text" th:field="*{username}" class="form-control" th:errorclass="field-error"
                   aria-describedby="nameHelp" required>
            <small class="invalid-feedback">이름을 입력하세요.</small>
            <small id="nameHelp" class="form-text text-muted">
                공백없이 한글로만 입력해 주세요
            </small>
            <p th:errors="*{username}" class="field-error">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="nickname" th:text="#{label.user.nickname}">닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control" required minlength="3" maxlength="20"
                   th:errorclass="field-error">
            <small class="invalid-feedback"> 닉네임을 입력해 주세요</small>
            <span class="id_input_re_1">사용 가능한 닉네임입니다.</span>
            <span class="id_input_re_2">해당 닉네임으로 이미 가입한적이 있습니다.</span>
            <small id="nicknameHelp" class="form-text text-muted">
                공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
            </small>
            <p th:errors="*{nickname}" class="field-error">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="password" th:text="#{label.user.password}">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control" th:errorclass="field-error"
                   required minlength="8" maxlength="50">
            <small class="invalid-feedback">비밀번호를 입력하세요.</small>
            <small id="passwordHelp" class="form-text text-muted">
                8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 모두 포함해 주세(공백은 사용할 수 없습니다.)
            </small>
            <p th:errors="*{password}" class="field-error">Incorrect data</p>
        </div>

        <div class="form-group">
            <label th:for="birthday" th:text="#{label.user.birthday}">생년월일</label>
            <input type="text" th:field="*{birthday}" class="form-control" th:errorclass="field-error"
                   aria-describedby="birthdayHelp" required>
            <small class="invalid-feedback">생년월일을 입력하세요.</small>
            <small id="birthdayHelp" class="form-text text-muted">
                생년월일(YYYYMMDD) 입력해주세요
            </small>
            <p th:errors="*{birthday}" class="field-error">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="email" th:text="#{label.user.email}">이메일주소</label>
            <input type="email" th:field="*{email}" class="form-control" th:errorclass="field-error"
                   aria-describedby="emailHelp" required>
            <small class="invalid-feedback">메일을 입력하세요.</small>
            <small id="emailHelp" class="form-text text-muted">
                email 형식에 맞제 입력해 주세요
            </small>
            <p th:errors="*{email}" class="field-error">Incorrect data</p>
            <span class="id_input_re_1">사용 가능한 메일입니다.</span>
            <span class="id_input_re_2">해당 메일로 이미 가입한적이 있습니다.</span>
        </div>

        <div class="form-group">
            <label th:for="address" th:text="#{label.user.address}">주소</label>
            <input type="text" th:field="*{address}" class="form-control" th:errorclass="field-error"
                   aria-describedby="addressHelp" required>
            <small class="invalid-feedback">주소를 입력하세요.</small>
            <small id="addressHelp" class="form-text text-muted">
                신주소 구주소 상관없습니다.
            </small>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="field-error">Incorrect data</p>
        </div>
        <div class="form-group">
            <label th:for="phoneNumber" th:text="#{label.user.phoneNumber}">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" th:errorclass="field-error"
                   aria-describedby="phoneNumberHelp" required>
            <small class="invalid-feedback">전화번호를 입력하세요.</small>
            <small id="phoneNumberHelp" class="form-text text-muted">
                "-"를 제외한 11자리의 전화번호를 입력해 주세요
            </small>
            <p th:errors="*{phoneNumber}" class="field-error">Incorrect data</p>
        </div>

        <div class="form-group" style="text-align: center">
            <button class="btn btn-primary" type="submit" aria-describedby="submitHelp">
                가입하기
            </button>
            <small id="submitHelp" class="form-text text-muted">
                <a href="#">약관</a>에 동의하시면 가입하기 버튼을 클릭하세요.
            </small>
        </div>
    </form>
</div>
</html>