!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <script src="https://cdn.jsdelivr.net/npm/jdenticon@3.2.0/dist/jdenticon.min.js" async
            integrity="sha384-yBhgDqxM50qJV5JPdayci8wCfooqvhFYbIKhv0hTtLvfeeyJMJCscRfFNKIxt43M" crossorigin="anonymous">
    </script>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">외국인 상품거래 서비스</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <svg data-jdenticon-value="user127" width="24" height="24"
                             th:data-jdenticon-value="${#authentication.name}" class="rounded border bg-light"></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
                        <a class="dropdown-item">장바구니</a>
                        <a class="dropdown-item">상품관리</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items/add" sec:authorize="isAuthenticated()">상품 등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/items" sec:authorize="isAuthenticated()">주문 상품</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/cart">장바구니</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/signup" sec:authorize="!isAuthenticated()">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">로그인</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="상품검색" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

</html>