<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>


<input type="hidden" id="itemId" th:value="${visaDetailDto.id}">

    <div class="content">
        <section>
            <table class="tb tb_row">
                <colgroup>
                    <col style="width:10%;" /><col style="width:23%;" /><col style="width:10%;" /><col style="width:23%;" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">제목</th>
                    <td>[[${visaDetailDto.title}]]</td>

                    <th scope="row">국가</th>
                    <td colspan="3">[[${visaDetailDto.country}]]</td>
                </tr>
                <tr>
                    <th scope="row">이름</th>
                    <td colspan="3">[[${visaDetailDto.nickname}]]</td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td colspan="3">[[${visaDetailDto.body}]]</td>
                </tr>
                </tbody>
            </table>
            <p class="btn_set">
                <a th:href="@{'/visa/' + ${visaDetailDto.id}}" class="btns btn_bdr4 btn_mid">수정</a>
                <button type="button" class="btns btn_bdr3 btn_mid">삭제</button>
                <a th:href="@{/visas}" class="btns btn_bdr3 btn_mid">목록으로</a>
            </p>
        </section>
    </div> <!--/* .content */-->
</body>
</html>