<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<body class="bg-light" layout:fragment="content">

<title>VISA 상세페이지</title>

<input type="hidden" id="itemId" th:value="${visaDetailDto.id}">

<div class="container">
    <h2>게시글 상세 화면</h2>
    <table class="board_detail">
        <colgroup>
            <col width="15%"/>
            <col width="35%"/>
            <col width="15%"/>
            <col width="35%"/>
        </colgroup>
        <caption>게시글 상세내용</caption>
        <tbody>
        <tr>
            <th scope="row">글 번호</th>
            <td th:text="${visaDetailDto.id}"></td>
            <th scope="row">국기</th>
            <td th:text="${visaDetailDto.country}"></td>
        </tr>
        <tr>
            <th scope="row">작성자</th>
            <td th:text="${visaDetailDto.nickName}"></td>
            <th scope="row">작성일</th>
            <td th:text="${#temporals.format(visaDetailDto.createAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th scope="row">제목</th>
            <td colspan="3">
                <input type="text" id="title" name="title"
                       th:value="${visaDetailDto.title }"/>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="view_text">
                <textarea title="내용" id="contents" name="contents" th:text="${visaDetailDto.body }"></textarea>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>