<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<title>VISA 페이지</title>

<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">

    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        외국인 상품거래 서비스를 가입 완료를 하기 위해서는 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>

        <div class=" m-5 table-responsive clearfix">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>국가</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${not #lists.isEmpty( visaList )}" th:each="visa, status: ${visaList}">
                    <td class="text-left"><a th:href="'/visas/' +${visa.id}" th:text="${visa.id}"></a></td>
                    <td>[[${visa.title}]]</td>
                    <td>[[${visa.nickname}]]</td>
                    <td>[[${visa.country}]]</td>
                    <td th:text="${#temporals.format( visa.createdAt, 'yyyy-MM-dd HH:mm:ss' )}"></td>
                </tr>
                </tbody>
            </table>
            <div class="btn_wrap text-right">
                <a th:href="@{/visas/post}" role="button" class="btn btn-primary waves-effect waves-light">글쓰기</a>
            </div>
        </div>
    </th:block>
</div>
</html>