<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000,
                pause: "hover",
                wrap: true,
                keyboard : true
            });
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }

        .margin {
            margin-bottom: 30px;
        }

        select{
            margin-right:10px;
        }

        .card-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        a:hover {
            text-decoration: none;
        }

    </style>
</th:block>

<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">


    <div class="row">
        <th:block th:each="item : ${itemList}">
            <div class="col-md-4 margin">
                <div class="card" style="width: 18rem; float:left; float: bottom; margin:0px 100px 100px 0px">
                    <img th:src="${item.storeFileName}" class="card-img-top" th:alt="${item.itemName}" height="300">
                    <div class="card-body">
                        <a th:href="'/user/items/' +${item.id}" class="text-dark">
                            <h4 class="card-title">[[${item.itemName}]]</h4>
                            <h6 class="card-text">[[${item.itemSellStatus}]]</h6>
                            <h6 class="card-text">[[${item.deliveryChoice}]]</h6>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</html>