<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 4000,
                pause: "hover",
                wrap: true,
                keyboard: true
            });
        });
    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }

        .margin {
            margin-bottom: 30px;
        }

        select {
            margin-right: 10px;
        }

        .card-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        a:hover {
            text-decoration: none;
        }

        .card {
            width: 18rem;
            float: left;
            float: bottom;
            margin: 0px 100px 100px 0px;
        }

    </style>
</th:block>

<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + ' 검색 결과'"></p>
    </div>

    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        외국인 상품거래 서비스를 가입 완료를 하기 위해서는 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>

    <div class="row">
        <th:block th:each="item, status: ${items}">
            <div class="col-md-4 margin">
                <div class="card">
                    <img th:src="|/images/${item.storeFileName}|" class="card-img-top" th:alt="${item.itemName}"
                         height="300">
                    <div class="card-body">
                        <a th:href="'/user/items/' +${item.id}" class="text-dark">
                            <h4 class="card-title">[[${item.itemName}]]</h4>
                            <h6 class="card-text">[[${item.itemSellStatus}]]</h6>
                            <h6 class="card-text">[[${item.deliveryChoice}]]</h6>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                   aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                th:classappend="${items.number eq page -1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page -1}}"
                   th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number +1}}"
                   aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>
</div>
</html>