<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
        border-radius: 5px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .container {
        padding: 2px 16px;
    }
</style>
</head>
<body>


<div class="card">
    <img src="img_avatar2.png" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b>Jane Doe</b></h4>
        <p>Interior Designer</p>
    </div>
</div>

</body>
</html>


<!--        <th:block th:each="item : ${itemAll}">-->
<!--            <div class="col-md-4 margin">-->
<!--                <div class="card">-->
<!--                    <a th:href="'/user/items' +${item.id}" class="text-dark">-->
<!--                        <img class="card-img-top" th:alt="${item.itemName}" height="300">-->
<!--                        <div class="card-body">-->
<!--                            <h4 class="card-title">[[${item.itemName}]]</h4>-->
<!--                            <h5 class="card-text">[[${item.deliveryChoice}]]</h5>-->
<!--                            <h5 class="card-text">[[${item.itemSellStatus}]]</h5>-->
<!--                            <p class="card-text">[[${item.itemBody}]]</p>-->
<!--                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </th:block>-->